.navbar-fixed
    nav.white.z-depth-0
        .nav-wrapper.container
            a.orange-text.text-darken-1(data-target="slide-out" href="#").sidenav-trigger
                i.material-icons menu
            a.brand-logo(href="/")(style="color:#567CCF") Covid-19 

            ul.right.hide-on-med-and-down
                li
                    a.green-text.text-darken-1(href="/") Home

                li
                    a.green-text.text-darken-1(href="/about") About


ul#slide-out.sidenav
    li
        a(href="/") Home
            i.material-icons.left home
    li
        a(href="/about") About
            i.material-icons.left info
