extends components/layout.pug

block styles
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:500&display=swap")
block content
    .fixed-action-btn
        a.btn-floating.btn-large.waves-effect.waves-light.pulse(href="https://api.whatsapp.com/send?phone=7428336279&text=I%20want%20to%20generate%20vehicle%20pass&source=&data=")
        
            img(src="/images/wa.png", alt="" width="100%")
    section.section(style="padding-top:0px")
        .parallax-container
            //- .container
            .row
                .col.s12.m6
                    .center
                        h1.strong.mont(style="color:#50C878")
                            |   COVID-19
                .col.s12.m6
            .parallax
                img(src="/images/back.png")

    section.section
        .container
            h1.strong.center.mont(style="letter-spacing:20px;padding:20px 0px 20px 0px;margin-bottom:42px;color:#3051BC")
                | PRECAUTION
            
        .row
            .col.s12.m3
                .container
                    .center
                        img.circle.reponsive-img(src="/images/handwash.jpg", alt="", width="100%")
                        br
                        h3.rubik.strong(style="font-size:25px;font-weight:400;margin-top:15%")
                            |   Wash hands
                            br
                            | properly
                //- .card-panel.hoverable
            .col.s12.m3
                .container
                    .center
                        img.circle.responsive-img(src="/images/cough.jpg", alt="" width="100%")
                        br
                        h3.rubik.strong(style="font-size:25px;font-weight:400;margin-top:15%")
                            |   Cover while
                            br
                            | Coughing
                //- .card-panel.hoverable
            .col.s12.m3
                .container
                    .center
                        img.circle.reponsive-img(src="/images/face.jpg" width="100%")
                        br
                        h3.rubik.strong(style="font-size:25px;font-weight:400;margin-top:15%")
                            |   Avoid Touching  
                            br
                            | face
                //- .card-panel.hoverable
            .col.s12.m3
                .container
                    .center
                        img.circle.responsive-img(src="/images/dist.jpg", alt="" width="100%")
                        br
                        h3.rubik.strong(style="font-size:25px;font-weight:400;margin-top:15%")
                            |   Maintaining proper
                            br
                            | distance

                //- .card-panel.hoverable
    section.section(style="margin-top:50px")
        .container

            .card-panel.z-depth-5(style="border-radius:25px")
                .center
                    h3.mont.strong(style="letter-spacing:20px;margin-bottom:42px;color:#3051BC")
                        |   HELPLINE
                    h5.mont.strong(style="margin-bottom:42px")
                        | Central Helpline Number for corona-virus: <span style="color:red">+91-11-23978046</span>
                    .row
                        .col.s12(style="height:300px;overflow-y:scroll;border:5px solid #557DD0;border-radius:25px")
                            table.striped.centered.highlight.responsive-table
                                thead
                                    tr
                                        th Sr
                                        th Name of State
                                        th Helpline Number
                                tbody
                                    tr
                                        td 1.
                                        td Andhra Pradesh
                                        td 0866-2410978
                                    tr
                                        td 1.
                                        td Tushar Joshi
                                        td 9021blabla
                                    tr
                                        td 1.
                                        td Tushar Joshi
                                        td 9021blabla

                                    tr
                                        td 1.
                                        td Andhra Pradesh
                                        td 0866-2410978
                                    tr
                                        td 1.
                                        td Tushar Joshi
                                        td 9021blabla
                                    tr
                                        td 1.
                                        td Tushar Joshi
                                        td 9021blabla

                                    tr
                                        td 1.
                                        td Andhra Pradesh
                                        td 0866-2410978
                                    tr
                                        td 1.
                                        td Tushar Joshi
                                        td 9021blabla
                                    tr
                                        td 1.
                                        td Tushar Joshi
                                        td 9021blabla

                                    tr
                                        td 1.
                                        td Andhra Pradesh
                                        td 0866-2410978
                                    tr
                                        td 1.
                                        td Tushar Joshi
                                        td 9021blabla
                                    tr
                                        td 1.
                                        td Tushar Joshi
                                        td 9021blabla
                                        




block scripts
    
