extends components/layout.pug

block styles

block content
    section.section
        .container
            .parallax-container
                .parallax
                    img(src="/images/office.jpg")

    section.section
        .container
            h3.light.center Precaution
            
            .row
                .col.s12.m4
                    .card-panel.hoverable
                .col.s12.m4
                    .card-panel.hoverable
                .col.s12.m4
                    .card-panel.hoverable
    
    section.section
        .container
            h3.light.center Helpline
            
            .row
                .col.s12
                    table.striped.highlight.responsive-table
                        thead
                            tr
                                th Sr
                                th Name
                                th Phone
                                th Email
                        tbody
                            tr
                                td 1.
                                td Tushar Joshi
                                td 9021blabla
                                td email@emailwala.com




block scripts
    
